{% extends "base.html" %}

{% block title %}Crop Monitor Dashboard{% endblock %}

{% block content %}
<h1>Crop Monitor Dashboard</h1>
<div id="device-container"></div>

<!-- Chart Modal -->
<div class="modal fade" id="chartModal" tabindex="-1" aria-labelledby="chartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chartModalLabel">Device Charts</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <canvas id="chartCanvas" height="400"></canvas>
        <div class="form-check mt-2" id="chart-toggles">
          <input class="form-check-input" type="checkbox" value="TEMP" id="toggleTEMP" checked>
          <label class="form-check-label" for="toggleTEMP">Temperature</label>
          <input class="form-check-input ms-2" type="checkbox" value="HUM" id="toggleHUM" checked>
          <label class="form-check-label" for="toggleHUM">Humidity</label>
          <input class="form-check-input ms-2" type="checkbox" value="MOIST" id="toggleMOIST" checked>
          <label class="form-check-label" for="toggleMOIST">Soil Moisture</label>
          <input class="form-check-input ms-2" type="checkbox" value="SOILT" id="toggleSOILT" checked>
          <label class="form-check-label" for="toggleSOILT">Soil Temp</label>
          <input class="form-check-input ms-2" type="checkbox" value="LIGHT_VAL" id="toggleLIGHT_VAL" checked>
          <label class="form-check-label" for="toggleLIGHT_VAL">Light</label>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
